.sidebar {
  height: 100%;
  position: fixed;
  width: 200px;
  border-right: 1px solid #ddd;

  li {
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;

    &:hover {
      background: 1px solid rgb(154, 242, 216);
    }
  }

  .active {
    border: 1px solid rgb(154, 242, 216);
  }
}
